$font-color-grey1: #433e4c;
$font-color-grey2: #23399e;
$background-color: #cbd5f7;

.card {
  display: flex;
  justify-content: center;

  color : $font-color-grey1;
//margin-left: 3em;
}

.card-title {
  font-size: 2em;
  color: $font-color-grey2;
}
