@import '../../variables.scss';

.card {
  display: flex;
  justify-content: center;

  color : $font-color-grey1;
//margin-left: 3em;
}

.card-title {
  font-size: 2em;
  color: $font-color-grey2;
}

.favme {
    cursor: pointer;
    font-size: 28px;
    color: #ccc;

    &.active {
        color: red;
    }
}
